<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <button id="creategame" class="float-left submit-button" >Create Game</button>
	<button id="viewgames" class="float-left submit-button" >View Games</button>

<script type="text/javascript">
    document.getElementById("creategame").onclick = function () {
        location.href = "/creategame";
    };
    document.getElementById("viewgames").onclick = function () {
        location.href = "/viewgames";
    };
</script>
 
</body>
 
</html>